<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>
<body>
    <div class="container">
        <div class="boots">
            <h1>Click here for ORC access</h1>

            <button onclick="location.href='/logreg'">ORC</button>
        </div>
        <div class="chairs">
            <h1>Click here for Facility access</h1>
            <button onclick="location.href='/facility'">Facility</button>
        </div>
    </div>
</body>
</html>




            @* <button onclick="location.href='@Url.Action("actionname", "controllername")'" asp-controller="Facility"></button> *@